
@-moz-document domain(travis-ci.com), domain(travis-ci.org) {
	:root {
		--background: #222;
		--forground: linear-gradient(#191919 8px,#171717 100%) no-repeat;
		--jobBar: #222;
		--buttons: #444;
		--text: #ccc;
		--title: #ddd;
		--header1Background: #222;
		--log1: #111;
		--log2: #191919;
	}

	.tile.canceled {
		background: var(--forground) !important;
	}

	.main, #left, .option-dropdown {
		background-image: none !important;
		background-color: var(--background) !important;
	}

	.log-body .fold .log-line:first-of-type {
		background-color: var(--log2);
	}

	.log-body pre {
		color: var(--text);
		background-color: var(--log1);
	}

	.top,
	.navigation,
	.navigation-anchor,
	.ember-view {
		background-color: var(--header1Background);
	}

	#travis-search {
		background-color: var(--header1Background) !important;
	}

	a, body, button, html,
	.topbar, .topbar a,
	.repo-header .repo-title a {
		color: var(--text);
	}

	.dashboard .centered, .dashboard .loading-page {
		background-color: var(--forground);
	}

	.job-lang:hover {
		background-color: #050505;
		border-bottom: 1px solid #EFF0EC;
	}

	.popup {
		color: var(--text);
		background-color: var(--forground);
		border: 10px solid #515;
	}

	#owner,
	.travis-footer,
	.footer, .footer-title, .footer-elem,
	.small-title-popup-title,
	.url, .no-button,
	.ember-application, .ember-text-area,
	#status-images,
	.display {
		color: var(--text);
		background-color: var(--forground);
	}

	.form-pair, .text-area,
	.select, .x-select {
		color: var(--text);
		background-color: #050505;
	}

	.loading-page,
	.main,
	#main,
	.wrapper,
	.wrappermain{
		background-color: var(--forground);
	}

	.log-header {
		color: var(--title);
		background-color: var(--jobBar);
	}

	.log-header a:hover {
		color: var(--title);
		background-color: var(--buttons);
	}

	.fold {
		color: var(--text);
		background-color: var(--buttons);
	}

	.fold-name,
	.duration,
	.log-body,
	.navigation-nested,
	.log-body .duration, .log-body .fold .fold-name {
		color: var(--text);
		background-color: var(--forground);
	}


	.navigation-nested a:hover {
		color: #888;
		background-color: #050505;
	}

	.profile-getstarted, .profile-repo:hover, .sidebar-list ul {
		color: #ccc;
		background-color: var(--forground);
	}

	.switch .switch-inner span {
		color: #ccc;
		background-color: #888;
	}

	.profile-orgs h1 {
		color: #ccc;
		background-color: var(--forground);
	}

	.switch .switch-inner {
		color: #ccc;
		background-color: #414;
	}

	.switch.active .switch-inner {
		color: #ccc;
		background-color: #414;
	}

	.log-body .fold:not(.open) p:first-of-type {
		color: #ccc;
		background-color: var(--buttons);
	}

	.top {
		position: relative;
		z-index: 2;
		box-shadow: 0 0 15px #111;
	}

	.owner-header img,

	.search--sidebar .search-inner input:focus {
		background-color: var(--buttons);
	}

	.main,
	#left,
	.option-dropdown {
		background-image: linear-gradient(
			45deg,
			#1e001e 25%,
			transparent 25%,
			transparent 75%,
			#1e001e 75%,
			#1e001e
		),
		linear-gradient(
			135deg,
			#1e001e 25%,
			transparent 25%,
			transparent 75%,
			#1e001e 75%,
			#1e001e
		);
		background-color: #050505;
		background-size: 4px 4px;
	}

	#left {
		border-right-color: #111;
		box-shadow: 0 0 15px #111;
	}

	button,
	.action-button--cancel, .action-button--debug, .action-button--restart,
	.download-log-button, .remove-log-button, .toggle-log-button--dark,
	.search--sidebar .search-inner input,
	.option-display {
		background-color: var(--buttons);
		color: #888;
		border-color: #111;
	}

	.travistab-nav--secondary a,
	.travistab-nav.travistab-nav--underline,
	.sidebar-list ul,
	.repo-navigation {
		border-bottom-color: #888;
	}

	.sidebar-list ul {
		background-color: #111;
	}

	.build-header,
	.sidebar-seperator,
	.row-li {
		border-color: #111;
	}

	#log {
		border: 2px solid #111;
		border-top-width: 0;
	}

	.tile.booting,
	.tile.created,
	.tile.queued,
	.tile.received,
	.tile.started,
	.tile,
	.tile.passed,
	.tile.errored,
	.tile.failed,
	.build-header.booting,
	.build-header.created,
	.build-header.queued,
	.build-header.received,
	.build-header.started,
	.build-header.passed,
	.build-header.errored,
	.build-header.failed,
	.row-li.booting,
	.row-li.created,
	.row-li.queued,
	.row-li.received,
	.row-li.started,
	.row-li.passed,
	.row-li.canceled,
	.build-commit:after,
	.row-li.errored, .row-li.failed {
		background: var(--forground)
	}

	@media screen and (min-width: 50.063em) {
		.commit-description:after {
			background: linear-gradient(
				360deg,
				var(--forground) 5%,
				rgba(50, 50, 50, 0) 100%
			);
		}

		.tile h2:after,
		.pr-row .row-branch:after {
			background: linear-gradient(
				-90deg,
				var(--forground) 0,
				rgba(50, 50, 50, 0) 100%
			);
		}

		.fade-out:after {
			background: linear-gradient(
				-90deg,
				var(--forground) 30%,
				rgba(50, 50, 50, 0) 100%
			);
		}

		.pr-row .two-line:first-of-type {
			border-color: var(--forground);
		}

		.branch-row .row-last-build:before {
			background-color: var(--forground); }

		.option-tofu {
			border-color: #050505;
		}
	}
}
